.add-to-cart {
  background: orange;
  color: white;
  font-weight: bold;
  border: none;
  border-radius: 8px;
  padding: 0.8rem 1.5rem;
  cursor: pointer;
  transition: background 0.2s;
}

.add-to-cart:hover {
  background: #ff944d;
}
